<div class="modal fade" [id]="modalId" tabindex="-1" [attr.aria-labelledby]="modalId + 'Label'" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="{'bg-danger text-white': btnConfirmColor === 'btn-danger', 'bg-primary text-white': btnConfirmColor === 'btn-primary'}">
        <h5 class="modal-title" [id]="modalId + 'Label'">{{ title }}</h5>
        <button type="button" class="btn-close" [ngClass]="{'btn-close-white': true}" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">{{ btnCancelText }}</button>
        <button type="button" class="btn" [ngClass]="btnConfirmColor" (click)="confirm()">{{ btnConfirmText }}</button>
      </div>
    </div>
  </div>
</div>
