.wrapper{
  width: 100vw;
  //height: 100vh;
}
.bg-light{
  background-color: var(--color-3)!important;
}

.navbar{
  padding: 0 0 0 0!important;
}

.navbar-brand{
  padding-left: 20px;
  font-size: 28px;
  font-family: Nexa;
  text-align: center;
  opacity: 1;
  color: var(--color-5);
  margin: 0 0 0 0!important;
}
.nav-link{
  font-size: 20px;
  font-family: Nexa;
  text-align: center;
  opacity: 1;
  font-weight: bold;
  color: var(--color-5);
  margin: 0 0 0 0!important;
}

li a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}

/* Change the link color on hover */
li a:hover {
  background-color: var(--color-4);
  color: #FFFFFF;
  margin: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-size: 20px;
  font-family: Nexa;
  text-align: center;
  opacity: 1;
  font-weight: bold;
  color: #FFFFFF;
}
.active {
  background-color: var(--color-4);
  margin: 0 0 0 0!important;
}

.bi-person-circle{
  font-size: 20pt;
  color: var(--color-5);
}
.dropdown-toggle{
  font-size: 15pt;
  color: var(--color-5);
}
.dropdown-menu[data-bs-popper] {
  right: 0!important;
  left: auto;
}
.navbar-toggler-icon{
  color: var(--color-5);
}
.navbar-toggler-icon {
  vertical-align: 0;
}
