<div class="sidenav-container">
  <!-- Header con info de usuario -->
  <div class="sidenav-header" *ngIf="nombreUsuario">
    <div class="user-avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="user-info">
      <div class="user-name">{{ nombreUsuario }}</div>
      <div class="user-role">{{ etiquetaRol }}</div>
    </div>
    <button class="btn-edit-profile" (click)="openEditProfileModal()" title="Editar perfil">
      <mat-icon>edit</mat-icon>
    </button>
  </div>


  <!-- Lista de navegación -->
  <mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems" (click)="onItemClick(item)">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <!-- Footer / Logout -->
  <mat-nav-list>
    <a mat-list-item (click)="onItemClick(logoutItem)" class="logout-item">
      <mat-icon matListItemIcon color="warn">{{ logoutItem.icon }}</mat-icon>
      <span matListItemTitle>{{ logoutItem.label }}</span>
    </a>
  </mat-nav-list>
</div>

<!-- Modal de Editar Perfil -->
<app-edit-profile-modal
  #editProfileModal
  [modalId]="'editProfileModal'"
  (onEditData)="navigateToEditData()"
  (onChangePassword)="navigateToChangePassword()"
></app-edit-profile-modal>
