<div class="wrapper">
    <div class="section-registro">
        <div class="body-registro admin-form-wrapper">

        <!-- Título -->
        <div class="row mt-3 mb-3">
            <div class="form-group col-24 text-center">
            <h2 class="form-title" for="tipo_usuario">
                Ingresa los datos del administrador
            </h2>
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-credit-card-2-front icon"></i>

            <div class="input-group">
            <input 
                type="text"
                id="id_admin"
                placeholder="ID de administrador"
                [(ngModel)]="admin.clave_admin"
                name="id"
            />
            </div>

            <div *ngIf="errors.clave_admin" class="invalid-feedback">
            {{ errors.clave_admin }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-person-fill icon"></i>

            <div class="input-group">
            <input 
                type="text"
                id="nombre"
                placeholder="Nombre"
                [(ngModel)]="admin.first_name"
                (keypress)="soloLetras($event)"
            />
            </div>

            <div *ngIf="errors.first_name" class="invalid-feedback">
            {{ errors.first_name }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-people-fill icon"></i>

            <div class="input-group">
            <input 
                type="text"
                id="apellidos"
                placeholder="Apellidos"
                [(ngModel)]="admin.last_name"
                (keypress)="soloLetras($event)"
            />
            </div>

            <div *ngIf="errors.last_name" class="invalid-feedback">
            {{ errors.last_name }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-envelope-fill icon"></i>

            <div class="input-group">
            <input 
                type="email"
                id="email"
                placeholder="Correo electrónico"
                [(ngModel)]="admin.email"
                [disabled]="editar"
            />
            </div>

            <div *ngIf="errors.email" class="invalid-feedback">
            {{ errors.email }}
            </div>
        </div>

        <div class="input-group-custom" *ngIf="!editar">
            <i class="bi bi-lock-fill icon"></i>

            <div class="input-group">
            <input 
                id="password"
                placeholder="Contraseña"
                [(ngModel)]="admin.password"
                [type]="inputType_1"
            />
            </div>

            <i
            class="bi eye-toggle"
            [ngClass]="hide_1 ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
            (click)="showPassword()"
            ></i>

            <div *ngIf="errors.password" class="invalid-feedback">
            {{ errors.password }}
            </div>
        </div>

        <div class="input-group-custom" *ngIf="!editar">
            <i class="bi bi-lock-fill icon"></i>

            <div class="input-group">
            <input 
                id="password_confirm"
                placeholder="Confirmar contraseña"
                [(ngModel)]="admin.confirmar_password"
                [type]="inputType_2"
            />
            </div>

            <i
            class="bi eye-toggle"
            [ngClass]="hide_2 ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
            (click)="showPwdConfirmar()"
            ></i>

            <div *ngIf="errors.confirmar_password" class="invalid-feedback">
            {{ errors.confirmar_password }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-telephone-fill icon"></i>

            <div class="input-group">
            <input 
                id="telefono"
                placeholder="Teléfono"
                [(ngModel)]="admin.telefono"
                mask="(000) 000-0000"
            />
            </div>

            <div *ngIf="errors.telefono" class="invalid-feedback">
            {{ errors.telefono }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-file-earmark-person-fill icon"></i>

            <div class="input-group">
            <input 
                id="rfc"
                placeholder="RFC"
                [(ngModel)]="admin.rfc"
                minlength="12"
                maxlength="13"
                style="text-transform: uppercase;"
            />
            </div>

            <div *ngIf="errors.rfc" class="invalid-feedback">
            {{ errors.rfc }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-calendar3 icon"></i>

            <div class="input-group">
            <input 
                id="edad"
                placeholder="Edad"
                [(ngModel)]="admin.edad"
                mask="00"
            />
            </div>

            <div *ngIf="errors.edad" class="invalid-feedback">
            {{ errors.edad }}
            </div>
        </div>

        <div class="input-group-custom">
            <i class="bi bi-briefcase-fill icon"></i>

            <div class="input-group">
            <input 
                id="ocupacion"
                placeholder="Ocupación"
                [(ngModel)]="admin.ocupacion"
            />
            </div>

            <div *ngIf="errors.ocupacion" class="invalid-feedback">
            {{ errors.ocupacion }}
            </div>
        </div>
        
        <div class="section-buttons">
            <button class="btn btn-danger" (click)="regresar()">
            Cancelar
            </button>

            <button
            *ngIf="!editar"
            class="btn btn-primary"
            type="submit"
            (click)="registrar()"
            >
            Registrar
            </button>

            <button
            *ngIf="editar"
            class="btn btn-primary"
            type="submit"
            (click)="actualizar()"
            >
            Actualizar
            </button>
        </div>

        </div>
    </div>
</div>