\u003cdiv class=\"wrapper\"\u003e
  \u003c!-- Contenedor principal del formulario para maestros --\u003e
  \u003cdiv class=\"section-registro\"\u003e
    \u003cdiv class=\"body-registro admin-form-wrapper\"\u003e
      \u003c!-- Título del formulario --\u003e
      \u003cdiv class=\"row mt-3 mb-3\"\u003e
        \u003cdiv class=\"form-group col-24 text-center\"\u003e
          \u003ch2 class=\"form-title\" for=\"tipo_usuario\"\u003e
            Ingresa los datos del maestro
          \u003c/h2\u003e
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- ID del trabajador --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-person-badge-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            type=\"text\"
            id=\"id_trabajador\"
            placeholder=\"ID de trabajador\"
            [(ngModel)]=\"maestro.id_trabajador\"
            name=\"id_trabajador\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.id_trabajador\" class=\"invalid-feedback\"\u003e
          {{ errors.id_trabajador }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Nombre --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-person-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            type=\"text\"
            id=\"nombre\"
            placeholder=\"Nombre\"
            [(ngModel)]=\"maestro.first_name\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.first_name\" class=\"invalid-feedback\"\u003e
          {{ errors.first_name }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Apellidos --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-people-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            type=\"text\"
            id=\"apellidos\"
            placeholder=\"Apellidos\"
            [(ngModel)]=\"maestro.last_name\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.last_name\" class=\"invalid-feedback\"\u003e
          {{ errors.last_name }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Correo electrónico --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-envelope-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            type=\"email\"
            id=\"email\"
            placeholder=\"Correo electrónico\"
            [(ngModel)]=\"maestro.email\"
            [readonly]=\"editar || isSelfEdit\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.email\" class=\"invalid-feedback\"\u003e
          {{ errors.email }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Contraseña --\u003e
      \u003cdiv class=\"input-group-custom\" *ngIf=\"!editar && !isSelfEdit\"\u003e
        \u003ci class=\"bi bi-lock-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            id=\"password\"
            placeholder=\"Contraseña\"
            [(ngModel)]=\"maestro.password\"
            [type]=\"inputType_1\"
          /\u003e
        \u003c/div\u003e
        \u003ci
          class=\"bi eye-toggle\"
          [ngClass]=\"hide_1 ? 'bi-eye-slash-fill' : 'bi-eye-fill'\"
          (click)=\"showPassword()\"
        \u003e\u003c/i\u003e
        \u003cdiv *ngIf=\"errors.password\" class=\"invalid-feedback\"\u003e
          {{ errors.password }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Confirmar contraseña --\u003e
      \u003cdiv class=\"input-group-custom\" *ngIf=\"!editar && !isSelfEdit\"\u003e
        \u003ci class=\"bi bi-lock-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            id=\"password_confirm\"
            placeholder=\"Confirmar contraseña\"
            [(ngModel)]=\"maestro.confirmar_password\"
            [type]=\"inputType_2\"
          /\u003e
        \u003c/div\u003e
        \u003ci
          class=\"bi eye-toggle\"
          [ngClass]=\"hide_2 ? 'bi-eye-slash-fill' : 'bi-eye-fill'\"
          (click)=\"showPwdConfirmar()\"
        \u003e\u003c/i\u003e
        \u003cdiv *ngIf=\"errors.confirmar_password\" class=\"invalid-feedback\"\u003e
          {{ errors.confirmar_password }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Fecha de nacimiento --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-calendar-event-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            type=\"date\"
            id=\"fecha_nacimiento\"
            placeholder=\"Fecha de nacimiento\"
            [(ngModel)]=\"maestro.fecha_nacimiento\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.fecha_nacimiento\" class=\"invalid-feedback\"\u003e
          {{ errors.fecha_nacimiento }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Teléfono --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-telephone-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            id=\"telefono\"
            placeholder=\"Teléfono\"
            [(ngModel)]=\"maestro.telefono\"
            mask=\"(000) 000-0000\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.telefono\" class=\"invalid-feedback\"\u003e
          {{ errors.telefono }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- RFC --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-file-earmark-person-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            id=\"rfc\"
            placeholder=\"RFC\"
            [(ngModel)]=\"maestro.rfc\"
            minlength=\"12\"
            maxlength=\"13\"
            style=\"text-transform: uppercase;\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.rfc\" class=\"invalid-feedback\"\u003e
          {{ errors.rfc }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Cubículo --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-building-fill icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cinput
            id=\"cubiculo\"
            placeholder=\"Cubículo\"
            [(ngModel)]=\"maestro.cubiculo\"
          /\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.cubiculo\" class=\"invalid-feedback\"\u003e
          {{ errors.cubiculo }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Área de investigación --\u003e
      \u003cdiv class=\"input-group-custom\"\u003e
        \u003ci class=\"bi bi-journal-richtext icon\"\u003e\u003c/i\u003e
        \u003cdiv class=\"input-group\"\u003e
          \u003cselect [(ngModel)]=\"maestro.area_investigacion\"\u003e
            \u003coption value=\"\" disabled selected\u003eSelecciona área de investigación\u003c/option\u003e
            \u003coption *ngFor=\"let area of areas\" [value]=\"area.viewValue\"\u003e
              {{ area.viewValue }}
            \u003c/option\u003e
          \u003c/select\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.area_investigacion\" class=\"invalid-feedback\"\u003e
          {{ errors.area_investigacion }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Materias --\u003e
      \u003cdiv class=\"materias-section\"\u003e
        \u003cdiv class=\"row mt-3 mb-3\"\u003e
          \u003cdiv class=\"form-group col-24\"\u003e
            \u003ch3 class=\"title-materias\"\u003eSelecciona las materias a impartir\u003c/h3\u003e
          \u003c/div\u003e
        \u003c/div\u003e
        \u003cdiv *ngFor=\"let materia of materias\" class=\"checkbox-group\"\u003e
          \u003clabel\u003e
            \u003cinput
              type=\"checkbox\"
              [value]=\"materia.nombre\"
              [checked]=\"revisarSeleccion(materia.nombre)\"
              (change)=\"checkboxChange($event, materia.nombre)\"
            /\u003e
            \u003cspan\u003e{{ materia.nombre }}\u003c/span\u003e
          \u003c/label\u003e
        \u003c/div\u003e
        \u003cdiv *ngIf=\"errors.materias_json\" class=\"invalid-feedback\"\u003e
          {{ errors.materias_json }}
        \u003c/div\u003e
      \u003c/div\u003e

      \u003c!-- Botones --\u003e
      \u003cdiv class=\"section-buttons\"\u003e
        \u003cbutton class=\"btn btn-danger\" (click)=\"regresar()\"\u003e
          Cancelar
        \u003c/button\u003e
        \u003cbutton
          *ngIf=\"!editar\"
          class=\"btn btn-primary\"
          type=\"submit\"
          (click)=\"registrar()\"
        \u003e
          Registrar
        \u003c/button\u003e
        \u003cbutton
          *ngIf=\"editar\"
          class=\"btn btn-primary\"
          type=\"submit\"
          (click)=\"actualizar()\"
        \u003e
          Actualizar
        \u003c/button\u003e
      \u003c/div\u003e
    \u003c/div\u003e
  \u003c/div\u003e
\u003c/div\u003e