<section class="login">
    <!-- Fondo -->
    <div class="background">
        <div class="back-arrow" (click)="volver()">
            <i class="bi bi-arrow-left"></i>
        </div>
    </div>

    <!-- Card -->
    <div class="login-card">
        <h2 class="title">Inicio de Sesión</h2>

        <div class="container-inputs">
        <div class="input-group-custom">
            <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
            </span>

            <input
                type="email"
                [(ngModel)]="username"
                class="form-control"
                id="email"
                placeholder="Correo electrónico"
                [ngClass]="{ 'is-invalid': errors.username }"
            />
            </div>

            <div *ngIf="errors.username" class="invalid-feedback">
            {{ errors.username }}
            </div>
        </div>

        <div class="input-group-custom">
            <div class="input-group input-group-merge">
            <span class="input-group-text">
                <i class="bi bi-lock-fill"></i>
            </span>

            <input
                [type]="type"
                [(ngModel)]="password"
                id="password"
                name="password_user"
                class="form-control pwd"
                placeholder="Contraseña"
                (keyup.enter)="login()"
                [ngClass]="{ 'is-invalid': errors.password }"
            />

            <div
                class="input-group-text"
                id="show-password"
                data-password="false"
            >
                <i
                *ngIf="type === 'password'"
                class="bi bi-eye-fill eye-toggle"
                (click)="showPassword()"
                ></i>
                <i
                *ngIf="type === 'text'"
                class="bi bi-eye-slash-fill eye-toggle"
                (click)="showPassword()"
                ></i>
            </div>
            </div>

            <div *ngIf="errors.password" class="invalid-feedback d-block">
            {{ errors.password }}
            </div>
        </div>

        <div *ngIf="errors.general" class="text-danger general-error">
            {{ errors.general }}
        </div>

        <!-- Botón login -->
        <button
            class="btn-login"
            type="button"
            (click)="login()"
            [disabled]="load"
        >
            Iniciar Sesión
        </button>

        <!-- Registro -->
        <p class="signup-text">
            ¿No tienes una cuenta?
            <span (click)="registrar()">Registrarse</span>
        </p>
        </div>
    </div>
</section>
