//Font face general
@font-face {
    font-family: 'Nexa-Bold';
    src: url('/assets/fonts/NexaBold.eot');
    src: url('/assets/fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/NexaBold.woff2') format('woff2'),
        url('/assets/fonts/NexaBold.woff') format('woff'),
        url('/assets/fonts/NexaBold.ttf') format('truetype'),
        url('/assets/fonts/NexaBold.svg#NexaBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('/assets/fonts/NexaLight.eot');
    src: url('/assets/fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/NexaLight.woff2') format('woff2'),
        url('/assets/fonts/NexaLight.woff') format('woff'),
        url('/assets/fonts/NexaLight.ttf') format('truetype'),
        url('/assets/fonts/NexaLight.svg#NexaLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/NexaRegular.eot');
    src: url('/assets/fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/NexaRegular.woff2') format('woff2'),
        url('/assets/fonts/NexaRegular.woff') format('woff'),
        url('/assets/fonts/NexaRegular.ttf') format('truetype'),
        url('/assets/fonts/NexaRegular.svg#NexaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-1: #20130a;
    --color-2: #142026;
    --color-3: #123142;
    --color-4: #3b657a;
    --color-5: #e9f0c9;
    --bg-light: #f8f9fa;
    --text-dark: #20130a;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Nexa', sans-serif; 
    background-color: var(--bg-light);
    color: var(--text-dark);
}

.glass-effect {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.invalid-feedback {
    display: block!important;
    width: 100%;
    font-size: 0.75rem;
    color: #ff5b5b;
    font-family: 'Nexa', sans-serif;
    text-align: left;
}

/* Texto de los radios en blanco */
.mat-mdc-radio-button .mdc-form-field label {
  color: white;
}

/* Radio sin seleccionar */
.mat-mdc-radio-button {
  --mdc-radio-unselected-icon-color: white;
  --mdc-radio-unselected-hover-icon-color: white;
  --mdc-radio-unselected-pressed-icon-color: white;
}

/* Radio seleccionado (usa #123142) */
.mat-mdc-radio-button.mat-mdc-radio-checked {
  --mdc-radio-selected-icon-color: #3B657A;
  --mdc-radio-selected-focus-icon-color: #3B657A;
  --mdc-radio-selected-hover-icon-color: #3B657A;
  --mdc-radio-selected-pressed-icon-color: #3B657A;

    /* Halo cuando el radio no está seleccionado (hover/focus) */
  --mat-radio-ripple-color: rgba(208, 208, 208, 0.3);

    /* Halo cuando el radio está seleccionado */
  --mat-radio-checked-ripple-color: rgba(208, 208, 208, 0.3);
}


